<head>
  <style type="text/css">
    .navbar {
      margin-bottom: 20px;
      border-radius: 0;
    }
  </style>
</head>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>"><strong>qChat</strong></a>

    <div class="nav-item">
      <% if current_user %>
        <%= link_to "Log out",  log_out_path, method: 'delete' %> 
      <% end %>
    </div>

  </div>
</nav>
